# Prometheus C++
[submodule "3rdparty/prometheus-cpp"]
	path = 3rdparty/prometheus-cpp
	url = https://github.com/jupp0r/prometheus-cpp.git

# spdlog C++
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git